{% extends "base.html" %}

  {% block content %}

  <main>
    <heading>
      <h1>Welcome to Rock Paper Scissors</h1>
     </heading>
    <section>
      <h3>You can play against the computer or a friend</h3>
    </section>
    <div>
      <a href="/play">Play Against Computer</a>
    </div>
    <section>
      <p>To play against another player type the players choice after the link</p>
      <p>The link could be for example localhost:5000/rock/scissors</p>
    </section>
  </main>

  {% endblock %}